body{

    width: 100%;
    overflow-x: hidden;
    
}
* {
    margin: 0;
    padding: 0;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    box-sizing: content-box;
    box-sizing: content-box;
}

/*listes des proprietes css generales a l'ensemble de la page*/

.bold {
    font-weight: bold;
}

li {
    list-style-type: none;

}

.flexaround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexbetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexcolumnbetween {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
/*Ensemble de style apliquer au header*/
.iconsize {
    border-radius: 10px 0 0 10px;
    height: 54px;
    width: 50px;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 60px;
    margin-right: 50px;
    margin-top: 30px;
}
.loupe {
    display: none;
}
.bordernone {
    /*cette classe nous a permis de suprrimer le border de l'input*/
    border: none;
}
.colorblue {
    color: #0065fc;
    padding-right: 10px;
}

.bluestar {
    color: #0065fc;
}

.graystar {
    color: #d9d9d9;
}

.backgroundblue {
    background-color: #0065fc;
}
.titre {
    margin-bottom: 10px;
    margin-left: 50px;
    line-height: 30px;
}
.decoration {
    text-decoration: none;
    color: blue;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.nodeco {
    text-decoration: none;
    color: black;
    padding-top: 40px;
    padding-left: 62px;
    padding-right: 62px;
    padding-bottom: 20px;
    margin-right: 50px;
}
.nodecocard{
    text-decoration: none;
    color: black;
}
.nodecolink{
    text-decoration: none;
    color: black;
    padding-top: 40px;
    padding-bottom: 50px;
    margin-left: 15px;

}
.bar {
    border-top: 3px solid transparent;
}

.bar:hover {
    border-top: 3px solid blue;
}

.backgroundgray {
    background-color: #f2f2f2;
}
/*fin du header*/

.recherche {
    height: 50px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding-left: 20px;
}

.buttonsearch {
    height: 54px;
    width: 120px;
    border-radius: 0 10px 10px 0;
    color: white;
    cursor: pointer;
}
.texticonfiltre:hover>.textefiltre
/*changement d’apparence au survol.(Icone et Texte)*/
    {
    color: #0065fc;
}
.texticonfiltre:hover>.iconfiltre {
    color: white;
    background-color: #0065fc;
}
.search {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 50px;
}
/*Filtre*/
.sizefiltre{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 30px;
    margin-left: 50px;
    flex-wrap: wrap;

}
.texticonfiltre {
    display: flex;
}

.bordericon {
    font-weight: bold;
    border: solid 1.5px #d9d9d9;
    width: 190px;
    height: 45px;
    border-radius: 40px;
    margin-left: 15px;
}
.bordericonAA { /*Cette class va nous permetrre d'augmenter le border du filtre Animaux autorises*/
    font-weight: bold;
    border: solid 1.5px #d9d9d9;
    width: 250px;
    height: 45px;
    border-radius: 40px;
    margin-left: 15px;
}
.filtretexte {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtremarginh1 {
    margin-right: 20px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.iconfiltre {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #deebff;
    margin-left: -2px;
    margin-right: 10px;

}

.info{
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 50px;
}
.infoicon {
    /*cette partie comprrend l'icone inforomation*/
    border: 1px solid #cecbcb;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #0065fc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 10px;
}

/*la partie hebergements a Marseille (les cartes)*/


.imgdimension {
    /*Cette classe represente la taille des images dans la partie hebergement*/
    height: 110px;
    width: 100%;
    object-fit: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    margin: 2px;
}

.bordercard {
    /*le contour de la carte ou sont disposes les items le titre, le <p> et les images de chaque carte*/
    width: 30%;
    height: 180px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px #0000002e;
    border: solid white 2px;
    display: block;
    font-size: 13.5px;
    padding: 1px;
    padding-right: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.bordercard:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.des {
    /*marge des differentes description de chaque cartes*/
    width: 100%;
    display: inline-block;
    height: 60px;
    margin-left: 10px;
    line-height: 20px;
}

.sizeheberg {
    /*taille du premier bloc qui fait deux fois la taille du segond*/
    height: 620px;
    flex: 2;
    margin-right: 20px;
    border-radius: 15px;
    padding-right: 20px;
    padding-left: 20px;
}
.titreheberg{
    margin-top: 40px;
    margin-left: 15px;
}

.grandblocsection {
    width: auto;
    display: flex;
    margin: 50px;   
}
/*talle du second bloc*/
.sizepopu {
    height: 620px;
    margin-left: 10px;
    flex: 1;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bordercardpopu {
    /*le contour de la carte ou sont disposes les items le titre, le <p> et les images de chaque carte*/
    width: 80%;
    height: 130px;
    background-color: white;
    box-shadow: 0 0 15px #0000002e;
    border-radius: 20px;
    margin-top: 7px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13.5px;
    padding: 3px;
}
.bordercardpopu:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.titremargpopu {    /*Cette classe va permettre de definir les margin du titre les plus populaires et l'icone etoile*/
    margin-left: 35px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 85%;
}
.imgdimension1 { /*Cette classe represente la taille des images dans la partie les plus populaires*/  
    height: 130px;
    width: 120px;
    object-fit: cover;
    background-position: center;
    border-radius: 15px 0 0 15px;
    margin: 1px
}
.imgdimension2 {
    height: 130px;
    width: 170px;
    object-fit: cover;
    background-position: center;
    border-radius: 15px 0 0 15px;
    margin: 1px;
    position: relative;
    max-width: max-content;
    
}
.carddetailspopu {
    width: 80%;
    height: auto;
    padding-left: 5%;
    line-height: 15px;
}
.starpopu {
    margin-top: 35px;
}
.cardpopumarg {
    margin-bottom: 40px;
}
.bloc1hebergement {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 23px;
}
.bloc2hebergement { 
    width: 100%;
    padding-right: 2%;
    padding-top: 25px;
    padding-bottom: 50px;
}
/* debut de la partie activites à Marseille*/
.titreactivite{
    margin-left: 50px;
    margin-bottom: 20px;
}
.marginactivite {
    /*Margin de la partie activite a Marseille qui va permettre d'espacer le bloc de la partie heberg. et le foot*/
    margin-top: 100px;
    margin-bottom: 100px;
}
.blocactivite { /*Cette classe represente la dimension generale du bloc d'activite a Marseille commprennat les 6 images*/
    width: auto;
    height: 500px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
}
.bloc12activite{/*Cette classe comprend un des premier bloc qui contient les 3 premieres cartes*/
width: 51.5%;
height: auto;
display: flex;
} 
.detailsactivite {
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
    width: 90%;
}
.bloc2activite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 460px;
    margin-right: 5%;
    margin-left: 5%;
}
.bordercardactivite {
    /*Cette classe va nous permettre de construire les plus grandes cartes de la partie activite a marseille*/
    width: 50%;
    border-radius: 15px 15px 15px 15px;
    height: 460px;
    box-shadow: 10px 10px 10px 5px #f2f2f2;
    margin-right: 10%;
}
.imgactivite1 {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 390px;
    object-fit: cover;
    background-position: center;
}
.sizetitre {
    height: 70px;
    margin-left: 20px;
    align-items: center;
}

.bordercardactivite2 {
    /*La creation dees cartes les plus petites a l'aide de ces class*/
    width: 100%;
    border-radius: 15px;
    box-shadow: 6px 6px 6px 2px #f2f2f2;
    height: 320px;
    margin-bottom: 40px;
}
.bordercardactivite3 {
    /*La creation dees cartes les plus petites a l'aide de ces class*/
    width: 100%;
    border-radius: 15px;
    box-shadow: 6px 6px 6px 2px #f2f2f2;
    height: 170px;
    margin-bottom: 40px;
}
.imgactivite2 {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 180px;
    object-fit: cover;
    background-position: center;
}

.imgactivite3 {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 97px;
    object-fit: cover;
    background-position: center;
}
.marginactivite1{
margin-right: 25px;
}
.marginactivite2{
    margin-left: 30px;
}
.bordercardactivite:hover {
    cursor: pointer;
    transform: scale(1.03);
}
.bordercardactivite3:hover {
    cursor: pointer;
    transform: scale(1.03);
}
.bordercardactivite2:hover {
    cursor: pointer;
    transform: scale(1.03);
}
/*les proprietes CSS relatives au footer*/
.foot {
    height: 310px;
    margin-top: 54px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    align-items: center;
    width: 70%;
}
.paddinfoot {
    padding-bottom: 30px;
}
.footback{
    background-color: #f2f2f2;
}
@media screen and (max-width: 1020px) and (min-width: 992px){ /*Responsive Desktop*/
    .sizefiltre{
        font-size: 11.9px;
        }
    }
@media screen and (max-width: 1020px){
    .des1{
        margin: 5px;
    line-height: 15px;
    }
    .carddetailspopu{
        font-size: 11.9px;

    }
    }
@media screen and (max-width: 991px) and (min-width: 768px){

    .texticonfiltre{
        margin-bottom: 20px;
    }
    .sizefiltre{
        Display: inline-block;
        width: 100%;
        margin-left: 50px;
        font-size: large;
        }
    .grandblocsection {
        display: flex;
        margin-top: 40px;
        margin-bottom: 60px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sizeheberg {
       width: 100%;
        background-color: inherit;
        margin-right: 0;
        padding: 0;
    }
    .nodecolink{
        color: blue;
        margin-left: 12px;
        padding: 0;
    }
    .nodecolink:hover{
        color: black;
    }
    .bloc12activite{
        width: 100%;
        display: block;
    }
    .sizepopu {
        width: 50%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: inherit;
        margin: 0;
    }
    .bloc1marg {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .bloc2marg {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .nodeco {
        padding-left: 71px;
    }

    .bloc1 {
        flex-direction: column;
    }
    .titreactivite {
        margin-bottom: 20px;
    }
    .bordercardactivite{
        width: 100%;
        height: 200px;
        display: block;
        margin-bottom: 40px;
    }
    .bordercardactivite2 {
        height: 200px;
        display: block;
        width: 100%;
        margin-bottom: 40px;

    }
    .bordercardactivite3 {
        height: 200px;
        width: 100%;
        display: block;
        margin-bottom: 40px;
    }
    .imgactivite1{
        height: 130px;
    }
    .imgactivite2{
        height: 130px;
    }
    .imgactivite3{
        height: 130px;
    }
    .footback{
      background-color: inherit;
    }
    .foot{
        margin-bottom: 20px;
    position: relative;
    top: 150px;
    width: 80%;
}
}
/*la partie Responsive pour la version Mobile*/
@media screen and (max-width: 767px){
    body{
        margin: 0;
    }
    
    .logo {
        align-items: center;
        justify-content: center;
        padding-right: 50%;
        padding-left: 45%;
        margin-bottom: 20px;
    }
    .head {
        display: block;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 2px solid #f2f2f2;
        margin-left: 0;
        font-size: xx-large;
        margin-top: 100px;
    }
    h1 {
        width: 90%;
        margin-top: 60px;
        margin-bottom: 30px;
        line-height: 50px;
        font-size: xx-large;
    }
    .slogan{
        font-size: 30px;
        margin-bottom: 50px;
    }
    .bar {
        border-bottom: solid 2px transparent;
        border-top: solid 2px transparent;
    }
    .bar:hover {
        border-top: transparent;
        border-bottom: solid 2px blue;
    }
    .search{
        font-size: xx-large;
    }
    .iconsize{
        width: 70px;
        height: auto;
    }
    .responsive {
        display: block;
    }
    .loupe {
        display: inherit;
    }
    .hide {
        display: none;
    }
    .recherche {
        height: 60px;
        width: 500px;
        font-size: 30px;
        color: black;
        font-weight: bold;
    }
    .buttonsearch {
        height: 65px;
        width: 60px;
        border-radius: 17px;
        color: white;
        cursor: pointer;
        margin-left: -22px;
    }
    .sizefiltre {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        font-size: 40px;
    }
    .info {
        display: flex;
        width: 90%;
        font-size: xx-large;
        margin-top: 20px;
    }
    .infoicon{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        font-size: xx-large;
    }
    .bordericon {
        width: 300px;
        height: 60px;
        margin-bottom: 25px;
    }
    .bordericonAA{
        width: 300px;
        height: 60px;
        font-size: 32px;
    }
    .filtretexte{
        width: 100%;
    }
    .iconfiltre{
        height: 60px;
        width: 60px;
        border-radius: 30px;
    }
    .des{
        margin-left: 20px;
        margin-bottom: 10px;
        font-size: larger;
        height: 90px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .grandblocsection{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .titremargpopu {  
        width: 100%;
        font-size: 25px;
        margin: 0;
        margin-bottom: 20px;
    }
    .sizepopu{
        width: 100%;
        margin: 0;
        padding: 55px;
        justify-content: center;
        align-items: center;
    }
    .bordercardpopu {
        width: 100%;
        height: 230px;
        background-color: white;
        box-shadow: 0 0 15px #0000002e;
        border-radius: 40px;
        font-size: 20px;

    }
    .imgdimension{
        width: 99%;
        height: 170px;
        margin: 5px;
        border-radius: 40px 40px 0 0;
        
    }
    .imgdimension1 {
        width: 50%;
        height: 220px;
        margin-left: 5px;
        border-radius: 40px 0 0 40px;
    }
    .imgdimension2{
        width: 50%;
        height: 220px;
        margin-left: 5px;
        border-radius: 40px 0 0 40px;
    }
    .carddetailspopu{
        font-size: larger;
        line-height: 25px;
        width: 50%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .titreheberg{
        font-size: 25px;
        margin-left: 0;
        margin-top: 60px;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
    }
    .sizeheberg{
        display: flex;
        flex-direction: column;
        background-color:inherit;
        margin: 0;
        width: 100%;

    }
    .bloc1hebergement{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .bloc2hebergement{
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .bordercard{
        width: 100%;
        margin: 0;
        padding-right: 5px;
        height: 300px;
        margin-bottom: 40px;
        font-size: larger;
        line-height: 50px;
        border-radius: 40px;
    }
    .nodecolink{
        font-size: xx-large;
        padding-top: 0;
        margin: 0;
    }
    
    .titreactivite {
        font-size: xx-large; 
    }
    .blocactivite{
        width: auto;
        height: 2050px;
        flex-direction: column;
        margin: 50px;

    }
    .bloc12activite{
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .bordercardactivite {
        width: 100%;
        height: 300px;
        margin: 0;
        padding: 0;
        margin-bottom: 40px;
        font-size: x-large;
        border-radius: 40px;
    }
    .bordercardactivite2 {
        width: 100%;
        height: 300px;
        margin: 0;
        padding: 0;
        margin-bottom: 40px;
        font-size: x-large;
        border-radius: 40px;
    }
    .bordercardactivite3 {
        width: 100%;
        height: 300px;
        margin: 0;
        margin-bottom: 40px;
        padding: 0;
        font-size: x-large;
        border-radius: 40px;
    }
    .detailsactivite{
        padding-left: 20px;
    }
    .bloc1marg {
        margin-bottom: 0px;
        width: 100%;
        margin-top: 13px;
        display: flex;
        flex-direction: column;
    }
    .bloc2marg {
        margin-bottom: 0px;
        width: 100%;
        margin-top: 13px;
        flex-direction: column;
    }
    .imgactivite1 {
        height: 200px;
        width: 100%;
        object-fit: cover;
        background-position: top;
        border-radius: 40px 40px 0 0;
        margin: 2px;
    }
    .imgactivite2 {
        height: 200px;
        width: 100%;
        object-fit: cover;
        background-position: center;
        border-radius: 40px 40px 0 0;
        margin: 2px;
    }
    .imgactivite3 {
        height: 200px;
        width: 100%;
        object-fit: cover;
        background-position: center;
        border-radius: 40px 40px 0 0;
        margin: 2px;
    }
    .marginactivite1{
        margin-right: 0;
        
        }
        .marginactivite2{
            margin-left: 0;
        }
    .bloc1 {
        display: flex;
        flex-direction: column;
    }
    .foot {
        width: 100%;
        height: auto;
        display: inline-block;
    }
    .footmobile {
        margin-left: 50px;
        margin-top: 50px;
    }

}
@media screen and (max-width: 700px){
    .search{
        width: 50%;
        font-size: 50px;
    }
}
@media screen and (max-width: 375px)  {
    body{
        font-size: 25px;
    }
}