html, body{ 
    width: 100%;
    height: auto;
    overflow-x: hidden;  
}
* {
    margin: 0;
    padding: 0;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    box-sizing: content-box;
    box-sizing: content-box;
}   
/*Ensemble de classe susceptible d'être appliquer à plusieurs élements de la page*/
.bold {
    font-weight: bold;
}
li {
    list-style-type: none;
}
.flexaround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexbetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexcolumnbetween {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.colorblue {
    color: #0065fc;
    padding-right: 10px;
}

.bluestar {
    color: #0065fc;
}

.graystar {
    color: #d9d9d9;
}

.backgroundblue {
    background-color: #0065fc;
}
.nodecocard{
    text-decoration: none;
    color: black;
}
/*Header*/
.head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 95%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}
.titre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
    margin-left: 50px;
    width: 100%;
}
.decoration {
    text-decoration: none;
    color: blue;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.nodeco {
    text-decoration: none;
    color: black;
    padding-top: 40px;
    padding-left: 62px;
    padding-right: 62px;
    padding-bottom: 20px;
}
.nodecolink{
    text-decoration: none;
    color: black;
    padding-top: 40px;
    padding-bottom: 50px;
    margin-left: 15px;

}
.bar {
    border-top: 3px solid transparent;
}

.bar:hover {
    border-top: 3px solid blue;
}

.backgroundgray {
    background-color: #f2f2f2;
}
/*fin du header*/

.texticonfiltre:hover>.textefiltre
/*changement d’apparence au survol.(Icone et Texte)*/
    {
    color: #0065fc;
}
.texticonfiltre:hover>.iconfiltre {
    color: white;
    background-color: #0065fc;
}
/*zone de recherche*/
.recherche{
    width: 80%;
    overflow: hidden;
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
}
.iconsize{
    padding: 22px;
    background-color: #f2f2f2;
    border-radius: 20PX 0 0 20px;
    font-size: 18px;
}
.recherche input{
    padding-left: 15px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-right: 40px;
    border: 1px solid #f2f2f2;
    overflow: auto;
}
.recherche input::placeholder{
    font-weight: bolder;
    font-size: 18px;
}
.recherche button{
    background-color: #0065fc;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 0 20px 20px 0;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    cursor: pointer;
}
    .loupe{
        display: none;
    }
/*Filtre*/
.sizefiltre{
    width: 95%;
    height: auto;
    display: flex;
    margin-bottom: 30px;
    margin-left: 50px;
    flex-wrap: nowrap;
}
.filtre-1{
    display: flex;
}
.filtre-2{
    display: flex;
}
.texticonfiltre {
    display: flex;
}

.bordericon {
    font-weight: bold;
    border: solid 1.5px #d9d9d9;
    width: 190px;
    height: 45px;
    border-radius: 40px;
    margin-left: 15px;
}
.bordericonAA { /*Cette class va nous permetrre d'augmenter le border du filtre Animaux autorises*/
    font-weight: bold;
    border: solid 1.5px #d9d9d9;
    width: 250px;
    height: 45px;
    border-radius: 40px;
    margin-left: 15px;
}
.filtretexte {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtremarginh1 {
    margin-right: 20px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.iconfiltre {

    background-color: #deebff;
    padding: 16px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-left: -2px;
}

.info{
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 50px;
    overflow-x: hidden;
}
.infoicon {
    /*cette partie comprrend l'icone inforomation*/
    border: 1px solid #cecbcb;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #0065fc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 10px;
}

/*la partie hebergements a Marseille (les cartes)*/


.imgdimension {
    /*Cette classe represente la taille des images dans la partie hebergement*/
    height: 110px;
    width: 100%;
    object-fit: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    margin: 2px;
}

.bordercard {
    /*le contour de la carte ou sont disposes les items le titre, le <p> et les images de chaque carte*/
    width: 30%;
    height: 180px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px #0000002e;
    border: solid white 2px;
    display: block;
    font-size: 13.5px;
    padding: 1px;
    padding-right: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.bordercard:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.des {
    /*marge des differentes description de chaque cartes*/
    width: 100%;
    display: block;
    justify-content: space-between;
    line-height: 20px;
    height: 65px;
    margin-left: 10px;
}
.sizeheberg {
    /*taille du premier bloc qui fait deux fois la taille du segond*/
    height: 620px;
    flex: 2;
    margin-right: 20px;
    border-radius: 15px;
    padding-right: 20px;
    padding-left: 20px;
}
.titreheberg{
    margin-top: 40px;
    margin-left: 15px;
}
.grandblocsection {
    width: auto;
    display: flex;
    margin: 50px;   
}
/*talle du second bloc*/
.sizepopu {
    height: 620px;
    margin-left: 10px;
    margin-bottom: 30px;
    flex: 1;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bordercardpopu {
    /*le contour de la carte ou sont disposes les items le titre, le <p> et les images de chaque carte*/
    width: 80%;
    height: 130px;
    background-color: white;
    box-shadow: 0 0 15px #0000002e;
    border-radius: 20px;
    margin-top: 7px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13.5px;
    padding: 3px;
}
.bordercardpopu:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.titremargpopu {    /*Cette classe va permettre de definir les margin du titre les plus populaires et l'icone etoile*/
    margin-left: 35px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 85%;
    font-size: large;
}
.imgdimension1 { /*Cette classe represente la taille des images dans la partie les plus populaires*/  
    height: 125px;
    width: 150px;
    object-fit: cover;
    background-position: center;
    border-radius: 15px 0 0 15px;
    margin: 1px
}
.imgdimension1-1{ 
    height: 125px;
    width: 190px;
    object-fit: cover;
    background-position: center;
    border-radius: 15px 0 0 15px;
    margin: 1px;
}
.carddetailspopu {
    width: 200px;
    display: inline-block;
    padding-left: 5%;
}
.starpopu {
    margin-top: 35px;
}
.cardpopumarg {
    margin-bottom: 40px;
}
.bloc1hebergement {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 23px;
}
.bloc2hebergement { 
    width: 100%;
    padding-right: 2%;
    padding-top: 25px;
    padding-bottom: 50px;
}
/* debut de la partie activites à Marseille*/
.titreactivite{
    margin-left: 50px;
    margin-bottom: 20px;
}
.marginactivite {
    /*Margin de la partie activite a Marseille qui va permettre d'espacer le bloc de la partie heberg. et le foot*/
    margin-top: 100px;
    margin-bottom: 100px;
}
.blocactivite { /*Cette classe represente la dimension generale du bloc d'activite a Marseille commprennat les 6 images*/
    width: auto;
    height: 500px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
}
.bloc12activite{/*Cette classe comprend un des premier bloc qui contient les 3 premieres cartes*/
width: 51.5%;
height: auto;
display: flex;
} 
.detailsactivite {
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
    width: 90%;
}
.bloc2activite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 460px;
    margin-right: 5%;
    margin-left: 5%;
}
.bordercardactivite {
    /*Cette classe va nous permettre de construire les plus grandes cartes de la partie activite a marseille*/
    width: 50%;
    border-radius: 15px 15px 15px 15px;
    height: 460px;
    box-shadow: 10px 10px 10px 5px #f2f2f2;
    margin-right: 10%;
}
.imgactivite1 {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 390px;
    object-fit: cover;
    background-position: center;
}
.sizetitre {
    height: 70px;
    margin-left: 20px;
    align-items: center;
}

.bordercardactivite2 {
    /*La creation dees cartes les plus petites a l'aide de ces class*/
    width: 100%;
    border-radius: 15px;
    box-shadow: 6px 6px 6px 2px #f2f2f2;
    height: 320px;
    margin-bottom: 40px;
}
.bordercardactivite3 {
    /*La creation dees cartes les plus petites a l'aide de ces class*/
    width: 100%;
    border-radius: 15px;
    box-shadow: 6px 6px 6px 2px #f2f2f2;
    height: 170px;
    margin-bottom: 40px;
}
.imgactivite2 {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 180px;
    object-fit: cover;
    background-position: center;
}

.imgactivite3 {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 97px;
    object-fit: cover;
    background-position: center;
}
.marginactivite1{
margin-right: 25px;
}
.marginactivite2{
    margin-left: 30px;
}
.bordercardactivite:hover {
    cursor: pointer;
    transform: scale(1.03);
}
.bordercardactivite3:hover {
    cursor: pointer;
    transform: scale(1.03);
}
.bordercardactivite2:hover {
    cursor: pointer;
    transform: scale(1.03);
}
/*les proprietes CSS relatives au footer*/
.foot {
    height: 310px;
    font-size: medium;
    margin-top: 54px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    align-items: center;
    width: 70%;
}
.paddinfoot {
    padding-bottom: 30px;
}
.footback{
    background-color: #f2f2f2;
}
@media screen and (max-width: 1170px){
    .sizepopu{
        width: 30%;
    }
    .imgdimension1{
        width: 	120px;
    }
    }
@media screen and (max-width: 1016px) and (min-width: 992px){
    .bordericon{
        margin-left: 9px;
    }
    .bordericonAA{
        margin-left: 9px;
    }
    .filtremarginh1{
        margin-right: 5px;
    }
}

@media screen and (max-width: 1010px) and (min-width: 992px){
    .carddetailspopu{
        font-size: 11.9px;
            }
    }
    @media screen and (max-width: 991px) and (min-width: 768px){
    ::-webkit-scrollbar{
        display: none;
    }

    body{
        overflow-y: auto;

    }
    .texticonfiltre{
        margin-bottom: 20px;
    }
    .sizefiltre{
        display: inline-block;
    }
    .grandblocsection {
        display: flex;
        margin-top: 40px;
        margin-bottom: 60px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sizeheberg {
       width: 100%;
        background-color: inherit;
        margin-right: 0;
        padding: 0;
    }
    .nodecolink{
        color: blue;
        margin-left: 12px;
        padding: 0;
    }
    .nodecolink:hover{
        color: black;
    }
    .bloc12activite{
        width: 100%;
        display: block;
    }
    .sizepopu {
        width: 50%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: inherit;
        margin: 0;
    }
    .imgdimension1-1{
        width: 180px;
    }
    .bloc1marg {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .bloc2marg {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .nodeco {
        padding-left: 71px;
    }
    .bloc1 {
        flex-direction: column;
    }
    .titreactivite {
        margin-bottom: 20px;
    }
    .bordercardactivite{
        width: 100%;
        height: 200px;
        display: block;
        margin-bottom: 40px;
    }
    .bordercardactivite2 {
        height: 200px;
        display: block;
        width: 100%;
        margin-bottom: 40px;
    }
    .bordercardactivite3 {
        height: 200px;
        width: 100%;
        display: block;
        margin-bottom: 40px;
    }
    .imgactivite1, .imgactivite2, .imgactivite3{
        height: 130px;
    }
    .footback{
      background-color: inherit;
    }
    .foot{
    margin-top: 0;
    margin-right: 0;
    position: relative;
    top: 250px;
    width: 675px;
    height: auto;
}
.paddingfoot{
    padding: 0;
}
.marginfoot2{
    margin-bottom: 20px;
}
}
/*la partie Responsive pour la version Mobile*/
@media screen and (max-width: 767px){
    html, body{
        height: auto;
        margin: 0;
    }
    .logo {
        align-items: center;
        justify-content: center;
        padding-right: 50%;
        padding-left: 40%;
        margin-bottom: 20px;
    }
    .head {
        width: 100%;
        display: block;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 2px solid #f2f2f2;
        margin-right: 0;
        margin-left: 0;
        margin-top: 50px;
    }
    .titre {
        width: 90%;
        margin-top: 60px;
        margin-bottom: 30px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .bar {
        border-bottom: solid 2px transparent;
        border-top: solid 2px transparent;
    }
    .bar:hover {
        border-top: transparent;
        border-bottom: solid 2px blue;
    }
    .recherche-texte{
        display: none;
    }
    .recherche{
        margin-left: 30px;
        margin-right: 0;
    }
    .recherche input{
      padding-left: 20px;
      padding-right: 0;
      overflow: hidden;
    }
    .loupe{
        display: inline;
    }
    .sizefiltre {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 30px;

    }
    .filtre-1{
        display: flex;
        width: 70%;
    }
    .filtre-2{
        display: inline-block;
        width: 50%;
    }
    .filtremarginh1{
        margin-right: 0;
        margin-left: 20px;
    }
    .bordericon {
        width: 200px;
        height: 60px;
        margin-bottom: 25px;
    }
    .bordericonAA{
        width: 220px;
        height: 60px;
    }
    .filtretexte{
        width: 100%;
    }
    .iconfiltre{
        height: 28px;
        width: 40px;
        border-radius: 50%;
    }
    .info{
        width: 87%;
    }
    .infoicon{
        width: 40px;
        height: 30px;
        border-radius: 50%;
    }
    .des{
        font-size: large;
        height: 80px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .grandblocsection{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        margin-right: 30px;
    }
    .titremargpopu {  
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    .sizepopu{
        width: 100%;
        padding-left: 55px;
        padding-right: 55px;
        padding-top: 20px;
        margin-left: 0;
        justify-content: center;
        align-items: center;
    }
    .carddetailspopu{
        margin-right: 10px;
        width: 68%;
        display: flex;
        height: 150px;
        flex-direction: column;
        justify-content: space-between;
        font-size: large;
    }
    .bordercardpopu {
        width: 100%;
        height: 230px;
        background-color: white;
        box-shadow: 0 0 15px #0000002e;
        border-radius: 40px;
    }
    .imgdimension{
        width: 99%;
        height: 180px;
        margin: 5px;
        padding: 0;
        border-radius: 40px 40px 0 0;
        margin-bottom: 20px;
        
    }
    .imgdimension1 {
        width: 50%;
        margin-right: 100px;
        height: 220px;
        margin-right: 5px;
        border-radius: 40px 0 0 40px;
    }
    .imgdimension1-1{
        height: 220px;
        width: 410px;
        margin: 5px;
        border-radius: 40px 0 0 40px;
     }
    .titreheberg{
        margin-left: 0;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
    }
    .sizeheberg{
        display: flex;
        flex-direction: column;
        background-color:inherit;
        margin: 0;
        width: 100%;
    }
    .bloc1hebergement{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .bloc2hebergement{
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .nodecolink{
        font-size: large;
        padding-top: 0;
        margin: 0;
    }
    .titreactivite{
        margin-left: 30px;
    }
    .blocactivite{
        width: auto;
        height: 2040px;
        flex-direction: column;
        margin: 30px;
    }
    .bloc12activite{
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .bordercardpopu{
        width: 100%;
        height: 230px;
        margin: 0;
        margin-bottom: 40px;
        border-radius: 40px;
    }
    .bordercard,
    .bordercardactivite,
    .bordercardactivite2,
    .bordercardactivite3 {
        width: 100%;
        height: 300px;
        margin: 0;
        margin-bottom: 40px;
        border-radius: 40px;
    }
    .detailsactivite{
        font-size: large;
        padding-left: 20px;
    }
    .bloc1marg,
    .bloc2marg {
        margin-bottom: 0px;
        width: 100%;
        margin-top: 13px;
        display: flex;
        flex-direction: column;
    }
    .imgactivite1,
    .imgactivite2,
    .imgactivite3 {
        height: 200px;
        width: 100%;
        border-radius: 40px 40px 0 0;
        padding: 0;
        margin-bottom: 20px;
    }
    .marginactivite1{
        margin-right: 0;
    }
    .marginactivite2{
    margin-left: 0;
   }
    .bloc1 {
    display: flex;
    flex-direction: column;
    }
    .foot {
        width: 100%;
        height: auto;
        display: inline-block;
    }